{#{% extends 'layout.html' %}#}
{#{% from "_formhelpers.html" import render_field %}#}
{##}
{#{% block content %}#}
{#<div class="container">#}
{#<div class="panel panel-default">#}
{#      <div class="panel-heading"><h2>Create an Article</h2></div>#}
{#      <div class="panel-body">#}
{#            <form action="{{ url_for('main.display_books') }}">#}
{#                {{ form.hidden_tag() }}#}
{#                {{ render_field(form.title) }}#}
{#                {{ render_field(form.subtitle) }}#}
{#                {{ render_field(form.text) }}#}
{#                {{ render_field(form.url) }}#}
{#                {{ render_field(form.publication) }}#}
{#                {{ render_field(form.pub_date) }}#}
{#                {{ render_field(form.is_gold) }}#}
{#                {{ render_field(form.submit) }}#}
{#            </form>#}
{#      </div>#}
{#</div>#}
{#</div>#}
{#{% endblock content %}#}