{% extends 'layout.html' %}
    {% block content %}
        <div class="container books">
            <div class="row row-no-gutters">
                {% for book in books %}
                    <div class="col-md-6">
                        <br>
                        <h4>{{ book.title }} </h4>
                        <p> Subtitle: {{ book.subtitle }} </p>
                        <p> Text: {{ book.text }} </p>
                        <p> Publication Date: {{ book.pub_date }} </p>
                        <p><a href="{{ url_for('main.display_publisher',publisher_id=book.pub_id) }}">Publisher Id: {{ book.pub_id }}</a></p>
                        <span class="label label-success"><a href="{{ url_for('main.create_book', pub_id=book.pub_id) }}" style="color: floralwhite"> create </a></span>
                        <span class="label label-primary"><a href="{{ url_for('main.edit_book', book_id=book.id) }}" style="color: floralwhite"> edit </a></span>
                        <span class="label label-info"><a href="{{ url_for('main.delete_book', book_id=book.id) }}" style="color: floralwhite"> delete </a></span>
                        <br><br>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endblock content %}